.container .head {
    text-align: center;
    margin: 40px 0;
}

.container .form-row .form-group .form-control.result-input {
    background-color: #fff
}

.container .form-row .form-group .badge {
    position: absolute;
    top: 0;
    right: 2px;
}

input.error {
    border-color: #dc3545;
}
